.progress.progress-striped.active(ng-if="vm.loading")
    .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
div(ng-if="!vm.loading")
    .col-md-2
        p {{'BUILDING.CHOOSE_CITY' | translate}}
        ul.list-group
            a.list-group-item(href="" ng-repeat="(cityIndex, city) in vm.cities" ng-class="{'active': cityIndex == vm.chosenCityIndex}" ng-click="vm.chooseCity(cityIndex)") {{city}}
    .col-md-3(ng-if="vm.chosenCityIndex != -1")
        p {{'BUILDING.CHOOSE_BUILDING' | translate}}
        ul.list-group
            a.list-group-item(href="" ng-repeat="(buildingIndex, building) in vm.buildings" ng-class="{'active': buildingIndex == vm.chosenBuildingIndex}" ng-click="vm.chooseBuilding(buildingIndex)") {{building.name}}
    .col-md-3(ng-if="vm.chosenBuildingIndex != -1")
        p {{'BUILDING.CHOOSE_PLAY' | translate}}
        .progress.progress-striped.active(ng-if="vm.loadingPlays")
            .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
        div(ng-if="!vm.loadingPlays")
            ul.list-group(ng-if="vm.plays.length > 0")
                a.list-group-item(href="" ng-repeat="(playIndex, play) in vm.plays" ng-class="{'active': playIndex == vm.chosenPlayIndex}" ng-click="vm.choosePlay(playIndex)") {{play.name}}
            p(ng-if="vm.plays.length === 0")
                i {{'PLAY.NO_PLAYS' | translate}}
    .col-md-4(ng-if="vm.chosenPlayIndex != -1")
        p {{'BUILDING.CHOSEN_PLAY' | translate}}
            p(ng-if="vm.play.description") {{vm.play.description}}
            p(ng-if="!vm.play.description")
                i {{'PLAY.NO_DESCRIPTION' | translate}}
            button.btn.btn-primary {{'CHOOSE' | translate}}
