div.container
    .col-md-3
        p Wybierz miasto
        ul.list-group
            a.list-group-item(href="" ng-repeat="(cityIndex, city) in vm.cities" ng-class="{'active': cityIndex == vm.chosenCityIndex}" ng-click="vm.chooseCity(cityIndex)") {{city}}
    .col-md-3(ng-if="vm.chosenCityIndex != -1")
        p Wybierz budynek
        ul.list-group
            a.list-group-item(href="" ng-repeat="(buildingIndex, building) in vm.buildings" ng-class="{'active': buildingIndex == vm.chosenBuildingIndex}" ng-click="vm.chooseBuilding(buildingIndex)") {{building.name}}

