.row
    .progress.progress-striped.active(ng-if="vm.loading")
        .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
    .col-md-2
        p {{'BUILDING.CHOOSE_CITY' | translate}}
        ul.list-group
            a.list-group-item(href="" ng-repeat="(cityIndex, city) in vm.cities" ng-class="{'active': cityIndex == vm.chosenCityIndex}" ng-click="vm.chooseCity(cityIndex)") {{city}}
    .col-md-3(ng-if="vm.chosenCityIndex != -1")
        p {{'BUILDING.CHOOSE_BUILDING' | translate}}
        ul.list-group
            a.list-group-item(href="" ng-repeat="(buildingIndex, building) in vm.buildings" ng-class="{'active': buildingIndex == vm.chosenBuildingIndex}" ng-click="vm.chooseBuilding(buildingIndex)") {{building.name}}
.row(ng-if="vm.chosenBuildingIndex != -1")
    .progress.progress-striped.active(ng-if="vm.loadingPlays")
        .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")

    div(ng-repeat="play in vm.plays")
        .clearfix(ng-if="$index % 4 == 0")
        .col-md-3
            h4 {{play.name}}
            p(ng-if="play.description") {{play.description}}
            p(ng-if="!play.description")
                i {{'PLAY.NO_DESCRIPTION' | translate}}
            button.btn.btn-primary(ng-click="vm.choosePlay(play)") {{'CHOOSE' | translate}}
