.modal-content
    .modal-header
        button.close(type="button" data-dismiss="modal" ng-click="vm.close()") &times;
        h4.modal-title {{vm.play.name}}
    .modal-body
        .progress.progress-striped.active(ng-if="vm.loading")
            .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
        div(ng-if="!vm.loading")
            .row
                .col-md-2
                    span
                        p {{'BUILDING.CHOOSE_CITY' | translate}}
                    ul.list-group
                        a.list-group-item(href="" ng-repeat="(cityIndex, city) in vm.cities" ng-class="{'active': cityIndex == vm.chosenCityIndex}" ng-click="vm.chooseCity(cityIndex)") {{city}}
                .col-md-3(ng-if="vm.chosenCityIndex != -1")
                    span
                        p {{'BUILDING.CHOOSE_BUILDING' | translate}}
                    ul.list-group
                        a.list-group-item(href="" ng-repeat="(buildingIndex, building) in vm.buildings" ng-class="{'active': buildingIndex == vm.chosenBuildingIndex}" ng-click="vm.chooseBuilding(buildingIndex)") {{building.name}}
                .col-md-7(ng-if="vm.chosenBuildingIndex != -1")
                    span
                        p {{'EVENT.CHOOSE' | translate}}
                    .progress.progress-striped.active(ng-if="vm.loadingEvents")
                        .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
                    ui-select(ng-model="vm.chosenEvent" theme="bootstrap")
                        ui-select-match(placeholder="{{'EVENT.CHOOSE' | translate}}") {{$select.selected.date}}, {{'EVENT.PRICE' | translate}}: {{$select.selected.price}} {{'EVENT.CURRENCY' | translate}}
                        ui-select-choices(repeat="event in vm.events")
                            h5 {{event.date}}, {{'EVENT.PRICE' | translate}}: {{event.price}} {{'EVENT.CURRENCY' | translate}}
                            small {{event.room.name}}
            div(ng-if="vm.chosenEvent")
                .row
                    .col-md-12
                        p {{vm.chosenEvent.room.name}}
                        p {{'SEAT.CHOOSE_SEATS' | translate}}:
                        ui-select(multiple ng-model="vm.chosenSeat" theme="bootstrap")
                            ui-select-match(placeholder="{{'SEAT.CHOOSE_SEATS' | translate}}") {{'SEAT.ROW' | translate}}: {{$item.row}}, {{'SEAT.NUMBER' | translate}}: {{$item.number}}
                            ui-select-choices(repeat="seat in vm.chosenEvent.room.seats")
                                h5 {{'SEAT.ROW' | translate}}: {{seat.row}}, {{'SEAT.NUMBER' | translate}}: {{seat.number}}
                .row
                    .col-md-12
                        button.btn(ng-class="{'btn-default': !vm.order.buy, 'btn-primary' : vm.order.buy}" ng-click="vm.buyForm()") {{'ORDER.BUY' | translate}}
                        button.btn(ng-class="{'btn-default': !vm.order.book, 'btn-primary' : vm.order.book}" ng-click="vm.bookForm()") {{'ORDER.BOOK' | translate}}
                .row(ng-if="vm.order.buy || vm.order.book")
                    .col-md-12
                        p Podaj dane:
