.modal-content
    .modal-header
        button.close(type="button" data-dismiss="modal" ng-click="vm.close()") &times;
        h4.modal-title {{vm.play.name}}
    .modal-body
        .progress.progress-striped.active(ng-if="vm.loading")
            .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
        div(ng-if="!vm.loading")
            .row
                .col-md-2
                    span
                        p {{'BUILDING.CHOOSE_CITY' | translate}}
                    ul.list-group
                        a.list-group-item(href="" ng-repeat="(cityIndex, city) in vm.cities" ng-class="{'active': cityIndex == vm.chosenCityIndex}" ng-click="vm.chooseCity(cityIndex)") {{city}}
                .col-md-3(ng-if="vm.chosenCityIndex != -1")
                    span
                        p {{'BUILDING.CHOOSE_BUILDING' | translate}}
                    ul.list-group
                        a.list-group-item(href="" ng-repeat="(buildingIndex, building) in vm.buildings" ng-class="{'active': buildingIndex == vm.chosenBuildingIndex}" ng-click="vm.chooseBuilding(buildingIndex)") {{building.name}}
                .col-md-7(ng-if="vm.chosenBuildingIndex != -1")
                    span
                        p {{'EVENT.CHOOSE' | translate}}
                    .progress.progress-striped.active(ng-if="vm.loadingEvents")
                        .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
                    ui-select(ng-attr-id="ui-select {{index}}" ng-model="vm.chosenEvent" theme="bootstrap" ng-change="vm.chooseEvent()")
                        ui-select-match(placeholder="{{'EVENT.CHOOSE' | translate}}") {{$select.selected.date}}, {{'EVENT.PRICE' | translate}}: {{$select.selected.price}} {{'EVENT.CURRENCY' | translate}}
                        ui-select-choices(repeat="event in vm.events")
                            h5 {{event.date}}, {{'EVENT.PRICE' | translate}}: {{event.price}} {{'EVENT.CURRENCY' | translate}}
                            small {{event.room.name}}
            div(ng-if="vm.chosenEvent")
                .row.top05(ng-repeat="row in vm.rows")
                    .col-md-4
                        p(ng-if="$index === 0") {{'SEAT.CHOOSE_SEATS' | translate}}:
                        .progress.progress-striped.active(ng-if="vm.loadingSeats")
                            .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
                        div(ng-if="!vm.loadingSeats")
                            ui-select(ng-model="vm.rows[$index].chosen" theme="bootstrap")
                                ui-select-match(placeholder="{{'SEAT.CHOOSE_SEATS' | translate}}") {{'SEAT.ROW' | translate}}: {{$select.selected.row}}, {{'SEAT.NUMBER' | translate}}: {{$select.selected.number}}
                                ui-select-choices(repeat="seat in vm.getPossibleSeats($index)")
                                    h5 {{'SEAT.ROW' | translate}}: {{seat.row}}, {{'SEAT.NUMBER' | translate}}: {{seat.number}}
                    .col-md-4
                        p(ng-if="$index === 0") {{'ORDER.CHOOSE_DISCOUNT' | translate}}:
                        .progress.progress-striped.active(ng-if="vm.loadingDiscounts")
                            .progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
                        div(ng-if="!vm.loadingDiscounts")
                            ui-select(ng-model="vm.rows[$index].chosenDiscount" theme="bootstrap")
                                ui-select-match(allow-clear="true" placeholder="{{'ORDER.CHOOSE_DISCOUNT' | translate}}:") {{$select.selected.name}}: {{$select.selected.value}}%
                                ui-select-choices(repeat="discount in vm.discounts")
                                    h5 {{discount.name}}: {{discount.value}}%
                    .col-md-4
                        p(ng-if="$index === 0") {{'EVENT.PRICE' | translate}}:
                        p {{vm.getPrice($index)}} {{'EVENT.CURRENCY' | translate}}
                .row.top05
                    .col-md-8
                        button.btn.btn-default(ng-click="vm.addRow()") {{'ORDER.ADD_ROW' | translate}}
                        button.btn.btn-default(ng-if="vm.rows.length > 1" ng-click="vm.removeRow()") {{'ORDER.REMOVE_ROW' | translate}}
                    .col-md-4
                        p {{'ORDER.PRICE_SUM' | translate}}: {{vm.getPriceSum()}} {{'EVENT.CURRENCY' | translate}}
                .row.top05
                    .col-md-12
                        button.btn(ng-class="{'btn-default': !vm.order.buy, 'btn-primary' : vm.order.buy}" ng-click="vm.buyForm()") {{'ORDER.BUY' | translate}}
                        button.btn(ng-class="{'btn-default': !vm.order.book, 'btn-primary' : vm.order.book}" ng-click="vm.bookForm()") {{'ORDER.BOOK' | translate}}
                .row(ng-if="vm.order.buy || vm.order.book")
                form(name="form" ng-submit="vm.submit()")
                div(ng-if="vm.order.book")
                    .row
                        .col-md-3
                            label(for="firstName") Imię
                            input.form-control(id="firstName" ng-model="vm.firstName")
                        .col-md-3
                            label(for="lastName") Nazwisko
                            input.form-control(id="lastName" ng-model="vm.lastName")
                        .col-md-3
                            label(for="telephone") Nr telefonu
                            input.form-control(id="telephone" ng-model="vm.telephone")
                    .row
                        .col-md-3
                            button.btn.btn-primary(ng-click="vm.submit()") zamów
